//-
	Password Form
	------------------------------

	Args
	* modal  - boolean
	* initial [default "join"] - accepts "signin" | "join" | "password"

mixin form-password(args)
	.auth-box.modal-pane-password(class=args.modal && args.initial != 'password' ? 'hidden' : null)
		div(class=args.modal ? 'modal-body' : null)
			form.form-password(method='post', action='/forgot-password', role='password-retrieval', novalidate).auth-form
				input(type='hidden', name='action', value='forgot-password')
				.form-groups
					.form-group

						input.form-control.form-control--first.form-control--last(
							type='email'
							name='email'
							id='email'
							placeholder='Correo electrónico'
							value=locals.form ? locals.form.email : null)
					button.button.button--block__default.button--full(
						type='submit'
						data-loading-text='Sending...') Mandame el link
			.reset--flex
				.one-half
					p ¿Recordaste tu contraseña?
				.one-half
					a.button.button--small.button--clear.button--clear__alt(
						href=args.modal ? js : '/login'
						rel=args.modal ? 'modal-pane' : null
						data-modal-pane=args.modal ? 'signin' : null,
						style="cursor:pointer") Inicia sesión
